node_modules/
package-lock.json
yarn-error.log*
yarn-debug.log*
npm-debug.log
.idea/*
.vscode/*
.DS_Store
/dist
/builds
ios/
android/

# ignore these in case the app was run directly from templates/boilerplate
/templates/boilerplate/bun.lockb
/templates/boilerplate/yarn.lock
/templates/boilerplate/package-lock.json
/templates/boilerplate/pnpm-lock.yaml
