node_modules/
package-lock.json
yarn-error.log*
yarn-debug.log*
npm-debug.log
.idea/*
.vscode/*
.DS_Store
/dist
/builds

# ignore these in case where ran boilerplate directory directly
/templates/boilerplate/bun.lockb
/templates/boilerplate/yarn.lock
/templates/boilerplate/package-lock.json
/templates/boilerplate/pnpm-lock.yaml
